/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

*
{
    margin: 0;
    padding: 0;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.landing-page {
    height: 100vh;
}

.landing-page--bg-white {
    background: white;
    color: black;
    padding: 35px;
}

.landing-page--bg-gray {
    background: gray;
    color: black;
    padding: 35px;
}

@media (min-aspect-ratio: 16/9) {
    .video-background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-background {
        width: auto;
        height: 100%;
    }
}

.nav {
    background: rgba(18, 32, 48, 0.5);
    height: 80px;
}

.logo {
    float: left;
    margin: 0px;
    height: auto;
    width: 250px;
    margin-top: -90px;
}

.menu {
    float: right;
    list-style: none;
    margin: 20px;
}

.menu li {
    display: inline-block;
    margin: 10px 5px;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
}

.menu li a:hover {
    background: black;
    border-bottom: 1px solid black;
    transition: .4s;
}

.msg {
    position: relative;
    left: -100px;
    text-align: center;
    font-family: sans-serif;
    color: White;
    top: 220px;
}

.msg h1 {
    font-size: 90px;
    margin: 25px;
}

.btn {
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
    margin: 5px;
    padding: 7px 28px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 199px;
}


.btn:hover {
    background: black;
    transition: .4s;
}


