/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

*
{
    margin: 0;
    padding: 0;
}

.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.landing-page {
    height: 100vh;
}

.landing-page--bg-white {
    background: white;
    color: black;
    padding: 35px;
}

.landing-page--bg-gray {
    background: gray;
    color: white;
    padding: 35px;
    background: url(https://images.pexels.com/photos/671629/pexels-photo-671629.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat;
    background-size: cover;

}

@media (min-aspect-ratio: 16/9) {
    .video-background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-background {
        width: auto;
        height: 100%;
    }
}

.nav {
    background: rgba(18, 32, 48, 0.5);
    height: 80px;
}

.logo {
    float: left;
    margin: 0px;
    height: auto;
    width: 250px;
    margin-top: -90px;
}

.menu {
    float: right;
    list-style: none;
    margin: 20px;
}

.menu li {
    display: inline-block;
    margin: 10px 5px;
}

.menu li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-family: sans-serif;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
}

.menu li a:hover {
    background: black;
    border-bottom: 1px solid black;
    transition: .4s;
}

.msg {
    position: relative;
    left: -100px;
    text-align: center;
    font-family: sans-serif;
    color: White;
    top: 220px;
}

.msg h1 {
    font-size: 90px;
    margin: 25px;
}

.btn {
    font-size: 18px;
    color: white;
    letter-spacing: 2px;
    margin: 5px;
    padding: 7px 28px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
    margin-left: 199px;
}


.btn:hover {
    background: black;
    transition: .4s;
}

.container-last {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 100px auto;
}


.container-last .loginbox {
    position: relative;
    top: 0px;
    width: 320px;
    height: 420px;
    background: rgb(192, 100, 172);
    top: 25%;
    left: 35%;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    padding: 70px 30px;
}

h9 {
    margin: -50px;
    margin-bottom: 20px;
    padding: 0 50px 20px;
    text-align: left;
    font-size: 29px;
    font-family: 'Merienda', cursive;
}

h10 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;

}

h11 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}


.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;
}

.loginbox a:hover {
    color: white;
}

.container {
    padding: 0 100px;
    box-sizing: border-box;
    font-family: 'Robot', sans-serif;
}

.material {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content h2 {
    margin-top: 200px;
    color: black;
    font-size: 3rem;
}

.content p {
    color: black;
    margin-top: 30px;
    margin-bottom: 80px;
    max-width: 500px;
    font-size: 1.2rem;
}

.content a {
    background-color: rgb(192, 86, 166);
    color: black;
    font-size: 1.3rem;
    padding: 10px 35px;
    text-decoration: none;
    position: absolute;
    border-radius: 20px;
}

.wrapper-1 {
    overflow: hidden;
}

.features {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.features-group-2 {
    margin-left: 40px;
    margin-top: 50px;
    padding-bottom: 40px;
}

.feature-1,
.feature-2,
.feature-3,
.feature-4 {
    max-width: 250px;
    box-shadow: 0 .2rem 3rem black;
    padding: 20px;
    background-color: white;
}

.feature-2 {
    margin-top: 20px;
}

.feature-4 {
    margin-top: 20px;
}

.features img {
    width: 140px;
    filter: drop-shadow(0 .1rem .2rem rgba(0,0,0,.35));
    position: relative;
    left: 50%;
    right: 50%;
    transform: tanslateX(-50%);
}

.features h3 {
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 15px 0 15px 0;
    color: black;
}

.features p {
    font-size: .8rem;
    text-align: center;
    color: black;
    line-height: 1.5;
}
